---
layout: default
---
<div class="reveal">
    {{ content }}
</div>
<figure>
    <label>Controls:</label>
    <ul>
        <li>f ~ fullscreen</li>
        <li>o ~ navigation view</li>
        <li>arrow keys ~ navigation</li>
    </ul>
</figure>
<h3>Slides Powered by <a href="https://revealjs.com" target="_blank"><img height="32px"
            src="/assets/images/reveal-black-text.svg" alt="reveal-logo" /></a></h3>
<script>
    Reveal.initialize({
        embedded: true,
        slideNumber: 'c/t',
        plugins: [RevealHighlight, RevealMarkdown, RevealNotes]
    });
    document.querySelector('.reveal').style.width = '100%';
    document.querySelector('.reveal').style.height = '400px';
    Reveal.layout();
</script>